html
    head
        title=title
        link(rel="stylesheet", href="styles.css", type="text/css")
    body
        .site-wrap
            h1 Hello World!

        script(src="/socket.io/socket.io.js")
        script(src="/application.js")